<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="verify-container">
        <h1>Verify OTP</h1>
        <form action="/verify" method="POST">
            <input type="hidden" name="email" value="<%= email %>">
            <input type="text" name="otp" placeholder="Enter OTP" required>
            <button type="submit">Verify OTP</button>
          </form>          
    </div>
</body>
</html>

  
